/*
  --- 01 Typography System
  -Font Size(px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
  
  -Font Family
  Google Font :Inter
			        -	Clicker Script
  default : sans-serif
  
  -Font Weight
  default : 400
  heading-primary : 700
  
  -Line Height
  default : 1
  heading-primary : 1.1
  
  --- 02 Color
  -Primary : ;
  -Tints : ,
  -Shades : ,
  -Accents
  -Grays : ;
  
  --- 03 Shadow
  
  --- 04 Border Radius
  default : 9px;
  
  -Spacing System(px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */

:root {
  --light-black: #262626;
  --dark-black: #1c1917;
  --white: #f5f5f4;
  --dark-gold: #d97706;
  --light-gold: #facc15;
  --blue: #3730a3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*Font-size => 10 */
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--black);
  line-height: 1;
}

#root {
  max-width: 77.5rem;
  /* 1240px; */
  height: 100vh;
  position: relative;
  background-color: var(--light-black);
  margin: 0 auto;
}
